<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/atheneos"
        android:label="@string/app_name"
        android:roundIcon="@drawable/atheneos"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weckerapp">
        <activity
            android:name=".ShowScoreActivity"
            android:exported="false"
            android:label="@string/title_activity_show_score"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Weckerapp.NoActionBar"
            />
        <activity
            android:name=".SolveTaskLinguistics"
            android:exported="false"
            android:label="@string/title_activity_solve_task_linguistics"
            android:theme="@style/Theme.Weckerapp.NoActionBar" />
        <activity
            android:name=".SolveTaskMedical"
            android:exported="false"
            android:label="@string/title_activity_solve_task_medical"
            android:theme="@style/Theme.Weckerapp.NoActionBar" />
        <activity
            android:name=".ColourPickerActivity"
            android:exported="false"
            android:label="@string/title_activity_colour_picker"
            android:theme="@style/Theme.Weckerapp.NoActionBar" />
        <activity
            android:name=".ChooseToSolvesActivity"
            android:exported="false"
            android:label="@string/title_activity_choose_to_solves"
            android:parentActivityName=".ChooseModuleActivity"
            android:theme="@style/Theme.Weckerapp.NoActionBar" />
        <activity
            android:name=".ChooseModuleActivity"
            android:exported="false"
            android:label="@string/title_activity_choose_module"
            android:parentActivityName=".ChooseDomainActivity"
            android:theme="@style/Theme.Weckerapp.NoActionBar" />
        <activity
            android:name=".ChooseDomainActivity"
            android:exported="false"
            android:label="@string/title_activity_doms"
            android:parentActivityName=".EditAlarmActivity"
            android:theme="@style/Theme.Weckerapp.NoActionBar" />
        <activity
            android:name=".SolveTaskMath"
            android:exported="false"
            android:label="@string/title_activity_solve_task"
            android:theme="@style/Theme.Weckerapp.NoActionBar" />
        <activity
            android:name=".PopupTaskAktivity"
            android:exported="false"
            android:label="@string/title_activity_popup_task_aktivity" />
        <activity
            android:name=".EditAlarmActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_alarm"
            android:parentActivityName=".AlarmsActivity" />
        <activity
            android:name=".AlarmsActivity"
            android:exported="false"
            android:label="@string/title_activity_alarms"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Weckerapp.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Weckerapp.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>